.segundaNoticia{
    background: linear-gradient(90deg, #E5FBFF 0.82%, #62B9FA 36.03%, #5B69FB 69.75%, #561DFE 100%);
}

.segundaNoticia .textosN , .quartaNoticia .textosN{
    margin-top: 4%;
}
.noticias.terceiraNoticia{
    background: linear-gradient(269deg, rgba(255, 151, 225, 0.54) 12.22%, #FF7C99 55.14%, #FF696C 91.8%);
    
}

.quartaNoticia{
    background: linear-gradient(90deg, #FFF 0.82%, #CAF8FF 24.71%, #65D6ED 60.15%, #73E8E7 98.08%);
}



#noticias > img{
    margin: 3px 0px;
    width: 5%;
    min-width: 70px;
    float: left;
}