.primeiraNoticia img, .terceiraNoticia img{
    float: right;
}

.segundaNoticia img, .quartaNoticia img{
    float: left;
}

.primeiraNoticia{
    background: linear-gradient(90deg, rgba(19, 214, 178, 0.01) 0.82%, rgba(54, 255, 219, 0.29) 28.59%, #5AADFF 77.68%, #0A5966 100%);
}

.segundaNoticia{
    background: linear-gradient(90deg, #774F35 0.82%, #C17D4F 31.2%, #E9D49E 52.95%, #FFF 75.82%);
}

.noticias.terceiraNoticia{
    background: linear-gradient(269deg, #FED00E 2.38%, #FCE757 44.41%, rgba(249, 251, 191, 0.82) 81.9%);
}
.terceiraNoticia .textosN {
    margin-top:4% ;
}

.textosNoticias h2{
    width: 100%;
}

.quartaNoticia{
    background: linear-gradient(90deg, #E41A29 1.8%, #F9414F 34.86%, rgba(251, 106, 87, 0.67) 58.21%, rgba(255, 242, 227, 0.62) 80.58%);
}

@media screen and (max-width:1530px) {
    .terceiraNoticia .textosN {
        margin-top:1% ;
    }
}

@media screen and (max-width:1440px) {
    .noticias{
        height: 600px;
    }

    .noticias img{
        float: none;
        width: 400px;
        display: block;
        margin:0 auto;
    }

    .textosN{
        width: 100%;
        display: inline-block;
        padding: 5px;
        margin:5px 0px 0px 0px;
    }

    .terceiraNoticia .textosN {
        margin-top:1% ;
    }
}